<div class="apple">
  <div class="header-logo">the sunday loft</div>
  <div class="header-nav">
    <ul>
      {% for link in linklists['main-menu'].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="header-icons">
    <img src="{{ 'icon-feather-user.png' | asset_url }}" alt="User Icon">
    <img src="{{ 'icon-feather-search.png' | asset_url }}" alt="Search Icon">
    <img src="{{ 'icon-feather-shopping-bag.png' | asset_url }}" alt="Cart Icon">
    <img src="{{ 'icon-feather-shopping-bag.png' | asset_url }}" alt="Cart Icon">
  </div>
</div>

<style>
  .apple {
    display: flex;
    {% comment %} set full width {% endcomment %}
    width: 100vw;
    {% comment %} align child elements vertically {% endcomment %}
    align-items: center;
    {% comment %} spacing on left and right {% endcomment %}
    padding: 0 12.5%;
  }

  .header-logo {
    font-family: p22-typewriter, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  ul {
    {% comment %} remove bullet points {% endcomment %}
    list-style: none;
    padding: 0;
  }

  li {
    {% comment %} make list horizontal {% endcomment %}
    display: inline-block;
  }

  .header-icons {
    display: flex;
    {% comment %} position on the right of parent div {% endcomment %}
    margin-left: auto;
  }

  {% comment %} working guides | delete later {% endcomment %}
  .apple,
  .header-logo,
  .header-nav,
  .header-icons {
    border: 1px solid black;
  }
</style>
