<div class="apple">
  <div class="header-logo">the sunday loft</div>
  <div class="header-nav">
    <ul>
      {% for link in linklists['main-menu'].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="header-icons">
    <img src="{{ 'icon-feather-user.png' | asset_url }}" alt="User Icon">
    <img src="{{ 'icon-feather-search.png' | asset_url }}" alt="Search Icon">
    <img src="{{ 'icon-feather-shopping-bag.png' | asset_url }}" alt="Cart Icon">
  </div>
</div>

<style>
  .apple {
    display: flex;
    {% comment %} align child elements vertically {% endcomment %}
    align-items: center;
    {% comment %} spacing on left and right {% endcomment %}
    padding: 0 12.5%;
  }

  {% comment %} target child divs except the last {% endcomment %}
  .apple > div:not(:last-child) {
    margin-right: 5%;
  }

  .header-logo {
    font-family: p22-typewriter, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .header-nav {
    {% comment %} allow div to occupy remaining space in parent {% endcomment %}
    flex: 1; 
  }

  .header-nav ul {
    {% comment %} remove bullet points {% endcomment %}
    list-style: none;
    padding: 0;
    text-transform: uppercase;
  }

  .header-nav li {
    {% comment %} make list horizontal {% endcomment %}
    display: inline-block;
  }

  {% comment %} target li except the last {% endcomment %}
  .header-nav li:not(:last-child){
    margin-right: 5%;
  }

  .header-icons {
    display: flex;
    {% comment %} position on the right of parent div {% endcomment %}
    margin-left: auto;
  }

  {% comment %} working guides | delete later {% endcomment %}
  .apple,
  .header-logo,
  .header-nav,
  .header-icons {
    border: 1px solid black;
  }
</style>
