{% assign product = all_products['monday-rug'] %}

{% for image in product.images %}
  <img src="{{ image.src | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">
{% endfor %}

<img src="{{ product.featured_image | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">

{{ product.title }}

<p id="product-price">
  {% for variant in product.variants %}
    {% if variant.id == selectedVariantID %}
      {{ variant.price | money }}
    {% endif %}
  {% endfor %}
</p>

{{ product.description }}

<!-- product form -->
{% form 'product', product %}
  <!-- form content -->
  <select name="id" id="select-variant" onchange="updateProductPrice()">
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}"
        {% if variant == product.selected_or_first_available_variant %}
          selected="selected"
        {% endif %}
      >
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>

  <input type="text" name="quantity" min="1" value="1">

  <input type="submit" value="Add to cart">
  {{ form | payment_button }}
{% endform %}

<span id="demo"></span>

<script>
  function updateProductPrice() {
    var selectedVariantID = document.getElementById("select-variant").value;
    document.getElementById("product-price").innerHTML = ;
  }
</script>
