{% assign product = all_products['monday-rug'] %}

{% for image in product.images %}
  <img src="{{ image.src | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">
{% endfor %}

<img src="{{ product.featured_image | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">

{{ product.title }}

<p id="product-price">
  {{ product.price | money }}
</p>

{{ product.description }}

<!-- product form -->
{% form 'product', product %}
  <!-- form content -->
  <select name="id" id="select-variant" onchange="updatePrice()">
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}"
        {% if variant == product.selected_or_first_available_variant %}
          selected="selected"
        {% endif %}
      >
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>

  <input type="text" name="quantity" min="1" value="1">

  <input type="submit" value="Add to cart">
  {{ form | payment_button }}
{% endform %}

<script>
  function updatePrice() {
    var selectedVariantId = document.getElementById("select-variant").value;
    var selectedVariantPrice = '';
    var variants = {{ product.variants | json }};
    for (var i = 0; i < variants.length; i++) {
      if (variants[i].id == selectedVariantId) {
        selectedVariantPrice = {{ variants[i].price | money | json }};
      }
    }
    console.log('selectedVariantPrice:', selectedVariantPrice);
    document.getElementById("product-price").innerHTML = selectedVariantPrice;
  }
</script>
