{% assign product = all_products['monday-rug'] %}

{% for image in product.images %}
  <img src="{{ image.src | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">
{% endfor %}

<img src="{{ product.featured_image | img_url }}" alt="{{ product.title }} - {{ image.alt | escape }}">

{{ product.title }}

<span id="variant-price">{{ product.price | money }}</span>

{{ product.description }}

<!-- product form -->
{% form 'product', product %}
  <!-- form content -->
  <select name="id" onchange="updatePrice()">
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}"
        {% if variant == product.selected_or_first_available_variant %}
          selected="selected"
        {% endif %}
      >
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>

  <input type="text" name="quantity" min="1" value="1">

  <input type="submit" value="Add to cart">
  {{ form | payment_button }}
{% endform %}

<script>
  
      function formatMoney(price) {
      var formattedPrice = '{{ product.price | money }}';
      return formattedPrice;
    }

      function updatePrice() {
    var variantId = document.getElementsByName("id")[0].value;
    var selectedVariant = {{ product.variants | json }}.find(function(variant) {
      return variant.id == variantId;
    });
    document.getElementById("variant-price").innerHTML = formatMoney(selectedVariant.price);
  }
</script>
