<div class="rich-text">
  <h1>this is an example heading</h1>
  <p>
    this is an example description. this is an example description. this is an example description. this is an example
    description. this is an example description. this is an example description. this is an example description. this is
    an example description. this is an example description. this is an example description.
  </p>
  <div class="buttons">
    <a href="" class="primary-button">example</button>
    <a href="" class="secondary-button">example</button>
  </div>
</div>

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'text' %}
      <h1>{{ block.settings.richtext_heading }}</h1>
    {% when 'richtext' %}
      <p>{{ block.settings.richtext_description }}</p>
    {% when 'button' %}
      <div class="buttons">
        {% if block.settings.richtext_button_label_1 != blank %}
          <a href="{{ block.settings.richtext_button_url_1 }}" class="primary-button">
            {{ block.settings.richtext_button_label_1 }}
          </a>
        {% endif %}
        {% if block.settings.richtext_button_label_2 != blank %}
          <a href="{{ block.settings.richtext_button_url_2 }}" class="secondary-button">
            {{ block.settings.richtext_button_label_2 }}
          </a>
        {% endif %}
      </div>
  {% endcase %}
{% endfor %}

<style>
  .buttons a {
    padding: 0.5rem 2.5rem;
    border: none;
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #434342;
    text-decoration: none;
  }

  .primary-button {
    background-color: #e9c8a7;
  }
  .secondary-button {
    background-color: #f6eddc;
  }
</style>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "rich-text",
  "blocks": [
    {
      "type": "text",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "richtext_heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Description",
      "settings": [
        {
          "type": "textarea",
          "id": "richtext_description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "richtext_button_label_1",
          "label": "Button Label (1)"
        },
        {
          "type": "url",
          "id": "richtext_button_url_1",
          "label": "Button URL (1)"
        },
        {
          "type": "text",
          "id": "richtext_button_label_2",
          "label": "Button Label (2)"
        },
        {
          "type": "url",
          "id": "richtext_button_url_2",
          "label": "Button URL (2)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
