<div class="rich-text">
  <h1>this is an example heading</h1>
  <p>
    this is an example description. this is an example description. this is an example description. this is an example
    description. this is an example description. this is an example description. this is an example description. this is
    an example description. this is an example description. this is an example description.
  </p>
  <div class="buttons">
    <a href="" class="primary-button">example</a>
    <a href="" class="secondary-button">example</a>
  </div>
</div>

<div class="rich-text">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'text' %}
        <h1>{{ block.settings.richtext_heading }}</h1>
      {% when 'richtext' %}
        <p>{{ block.settings.richtext_description }}</p>
      {% when 'button' %}
        <div class="buttons">
          {% if block.settings.richtext_button_label_1 != blank %}
            <a href="{{ block.settings.richtext_button_url_1 }}" class="primary-button">
              {{ block.settings.richtext_button_label_1 }}
            </a>
          {% endif %}
          {% if block.settings.richtext_button_label_2 != blank %}
            <a href="{{ block.settings.richtext_button_url_2 }}" class="secondary-button">
              {{ block.settings.richtext_button_label_2 }}
            </a>
          {% endif %}
        </div>
    {% endcase %}

  {% endfor %}
</div>

<style>
    .buttons {
      {% comment %} make same height as child div {% endcomment %}
      display: inline-flex;
    }
    .buttons a {
      padding: 0.5rem 2.5rem;
      border: none;
      font-family: lora, serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.9rem;
      color: #434342;
      text-decoration: none;
    }
    .primary-button {
      background-color: #e9c8a7;
    }
    .secondary-button {
      background-color: #f6eddc;
    }
    .rich-text h1,
    .rich-text p,
    .rich-text .buttons {
      margin: 0;
  }

  .rich-text {
    display: grid;
    grid-row-gap: 3rem;
    row-gap: 3rem;
}
</style>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "rich-text",
  "blocks": [
    {
      "type": "text",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "richtext_heading",
          "label": "Heading",
          "default": "welcome to the loftie membership"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Description",
      "settings": [
        {
          "type": "textarea",
          "id": "richtext_description",
          "label": "Description",
          "default": "We love helping you save, and we hope these options make it easier for you to shop with us. We’re always looking for ways to make your experience better, so feel free to reach out to us with any suggestions or feedback you may have. Thank you for being a part of our community!"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "richtext_button_label_1",
          "label": "Button Label (1)",
          "default": "sign up"
        },
        {
          "type": "url",
          "id": "richtext_button_url_1",
          "label": "Button URL (1)"
        },
        {
          "type": "text",
          "id": "richtext_button_label_2",
          "label": "Button Label (2)",
          "default": "log in"
        },
        {
          "type": "url",
          "id": "richtext_button_url_2",
          "label": "Button URL (2)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
