<div class="rich-text_parent">
    <div class="rich-text">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            <h1>{{ block.settings.richtext_heading }}</h1>
          {% when 'richtext' %}
            <p>{{ block.settings.richtext_description }}</p>
          {% when 'button' %}
            <div class="buttons">
              {% if block.settings.richtext_button_label_1 != blank %}
                <a href="{{ block.settings.richtext_button_url_1 }}" class="primary-button">
                  {{ block.settings.richtext_button_label_1 }}
                </a>
              {% endif %}
              {% if block.settings.richtext_button_label_2 != blank %}
                <a href="{{ block.settings.richtext_button_url_2 }}" class="secondary-button">
                  {{ block.settings.richtext_button_label_2 }}
                </a>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  
  <style>
    .buttons {
      {% comment %} make same height as child div {% endcomment %}
      display: inline-flex;
      white-space: normal;
      gap: 1rem;
      justify-content: {{ section.settings.richtext_button_position }};
    }
    .buttons a {
      padding: 0.5rem 2.5rem;
      border: none;
      font-family: lora, serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.9rem;
      color: #434342;
      text-decoration: none;
    }
    .primary-button {
      background-color: #e9c8a7;
    }
    .secondary-button {
      background-color: #f6eddc;
    }
    .rich-text h1,
    .rich-text p,
    .rich-text .buttons {
      margin: 0;
    }
  
    {% comment %} spacing between child divs {% endcomment %}
    .rich-text {
      display: grid;
      grid-row-gap: 3rem;
      row-gap: 3rem;
      width: {{ section.settings.richtext_width }};
      text-align: {{ section.settings.richtext_aligntext }};

    }
  
    .rich-text .rich-text-schema {
      {% comment %} let users create new paragaph by hitting "enter" {% endcomment %}
      white-space: pre-wrap;
    }
  
    .rich-text_parent {
      width: {{ section.settings.richtext-parent_width }};
      display: flex;
      justify-content: {{ section.settings.richtext_content_position }};
    }
  </style>
  
  {% schema %}
  {
    "name": "Rich text",
    "tag": "section",
    "class": "rich-text-schema",
    "settings": [
      {
        "type": "select",
        "id": "richtext-parent_width",
        "label": "Section width",
        "options": [
          {
            "value": "45vw",
            "label": "Wide"
          },
          {
            "value": "100vw",
            "label": "Full width"
          }
        ],
        "default": "100vw"
      },
      {
        "type": "select",
        "id": "richtext_width",
        "label": "Content width",
        "options": [
          {
            "value": "40vw",
            "label": "Less wide"
          },
          {
            "value": "45vw",
            "label": "Wide"
          }
        ],
        "default": "40vw"
      },
      {
        "type": "select",
        "id": "richtext_content_position",
        "label": "Position content",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "flex-start"
      },
      {
        "type": "select",
        "id": "richtext_aligntext",
        "label": "Align text",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "richtext_button_position",
        "label": "Position buttons",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "flex-start"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "richtext_heading",
            "label": "Heading",
            "default": "example heading"
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Description",
        "settings": [
          {
            "type": "textarea",
            "id": "richtext_description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum augue eget odio euismod malesuada. Nunc vulputate enim tincidunt enim dignissim facilisis. In hac habitasse platea dictumst. Aliquam luctus est congue purus elementum, nec fringilla tortor lobortis. Nulla ut vehicula justo. Pellentesque quam ipsum, rhoncus a ex quis, mattis vestibulum sem. Sed at mauris velit. Maecenas dignissim maximus leo, in dapibus dolor scelerisque quis. Pellentesque molestie ipsum in augue feugiat laoreet. Aliquam eu dignissim neque. Mauris tempor mauris quis porta ultrices. Aliquam eleifend malesuada arcu, vel tincidunt sapien consectetur nec. Duis sem turpis, luctus at rutrum vitae, sollicitudin vitae lorem. Etiam facilisis arcu dui, eu accumsan erat efficitur ut. In id pulvinar ex, at venenatis justo."
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "richtext_button_label_1",
            "label": "Button Label (1)",
            "default": "Button 1"
          },
          {
            "type": "url",
            "id": "richtext_button_url_1",
            "label": "Button URL (1)"
          },
          {
            "type": "text",
            "id": "richtext_button_label_2",
            "label": "Button Label (2)",
            "default": "Button 2"
          },
          {
            "type": "url",
            "id": "richtext_button_url_2",
            "label": "Button URL (2)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text"
      }
    ]
  }
  {% endschema %}